{% extends 'base.html' %}

{% block title %}404 - страница не найдены | {{ block.super }} {% endblock %}

{% block content %}

<section class="fof-wrapper container">
      <div class="fof">
        <h1 class="fof-bg">404</h1>
        <div class="container ms-content">
          <div class="text-center margin-bottom-lg">
            <h1 class="fof-title">Страница не найдена</h1>
            <p>Извините, но данная страница отсутсвтует. <br><a href="/">Вернуться на главную</a></p>
          </div>
        </div>
      </div>
    </section>


{% endblock %}