{% extends 'base.html' %}
{% load static %}
{% block title %} Заполните форму обратной связи | {{ block.super }} {% endblock %}

{% block content %}

    <div class="container" style="margin-top: 150px;">
        <div class="hero__content text-left pb-5" >
          <h1>Заказ - консультация</h1>
          <p class="mt-3">Для оформления заказа или получения консультации по товару, пожалуйста, заполните форму ниже</p>
        </div>
        
        <div class="contact__form">
            <form action="{% url 'product_order' product.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <input type="hidden" name="product" value="{{ product.name }}">
                    <input type="hidden" name="price" value="{{ product.price }}">
                    <div class="form-group col-md-6">
                      <input class="form-control" type="text" name="name" required  placeholder="Ваше имя*">
                    </div>
                    <div class="form-group col-md-6">
                      <input class="form-control" type="number" name="phone" required placeholder="Номер телефона*">
                    </div>
                    <div class="form-group col-12">
                      <textarea class="form-control" name="comment" cols="40" rows="8" placeholder="Комментарий (необязтельно)"></textarea>
                    </div>
        {#            <div class="form-group col-12 custom-checkbox"><span class="wpcf7-form-control-wrap your-consent"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item">#}
        {#                    <label>#}
        {#                      <input class="checkbox checkbox--bg" type="checkbox" name="your-consent" value="1" aria-invalid="false"><span class="wpcf7-list-item-label">I consent to the conditions.</span>#}
        {#                    </label></span></span></span></div>#}
                    <div class="form-group col-6">
                      <button class="btn btn--primary btn-block" type="submit">Отправить <i class="fab fa-telegram-plane" style="margin-left: 7px;"></i></button>
                    </div>

                  </div>
            </form>
        </div>

        <section class="hero hero--overlay-layer hero-default">
          <div class="container" style="opacity: 1;">
            <div class="hero__content text-left">
              <h2>Отличный выбор</h2>
                <h6 style="margin-top: 15px; text-transform: lowercase;">{{ product.name }}</h6>
            </div>
          </div>
        </section>
        <div class="container ms-content--portfolio" style="opacity: 1;">
          <div class="row grid-content blockgallery" style="position: relative; height: 504.75px;">
              <div class="grid-sizer col-xs-12 col-md-4 col-sm-3"></div>
              <div class="grid-item col-xs-12 col-md-4 col-sm-3" style="position: absolute; left: 0%; top: 0px;">
                  {% for i in product.images.all %}
                      <a class="mfp-img has-img" href="{{ i.image.url }}">
                          <img src="{% static 'assets/img/portfolio/jr_pf.png' %}" data-src="{{ i.image.url }}" title="{{ i.title }}" alt="{{ i.title}}" class="lazy">
                      </a>
                  {% endfor %}
              </div>
          </div>

          <div class="ms-next-case">
            <div class="single-portfolio-nav">
              <div class="s-p-next"><img src="{% static 'assets/img/portfolio/jr_pf.png' %}" data-src="{{ product.image.url }}" style="max-width: 100%; border-radius: 8px; overflow: hidden;" class="lazy">
                  <div class="container" style="opacity: 1;">
                    <h1>Мир диванов</h1>
                  </div></div>
            </div>
          </div>
        </div>
    </div>
    <div class="mt-5 pt-5"></div>
    {% include 'includes/footer.html' %}

{% endblock %}